* {
    box-sizing: border-box;
  }
   
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
/* 头部标题 */
.header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  .nav{
    overflow: hidden;
    background-color: #333;

  }
  .nav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav a:hover{
      background-color: beige;
      color: black;
  }

  /* 创建两列 */
  .left{
      width: 75%;
      float: left;
  }
  .right{
      width: 25%;
      float: left;
      background-color: #f1f1f1;
      padding-left: 20px;
  }
  /* 图像部分 */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
   
  /* 文章卡片效果 */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
   
  /* 列后面清除浮动 */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* 底部 */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  /* 响应式布局 */
  @media screen and (max-width:800px){
      .left, .right{
          width: 100%;
          padding: 0;
      }
  }

  @media screen and (max-width:400px){
      .nav a{
          float: none;
          width: 100%;
      }
  }
   