<!--
 * @Author: 吴楚标
 * @Date: 2021-05-28 22:53:48
 * @LastEditors: 吴楚标
 * @LastEditTime: 2021-05-30 12:17:29
 * @Description: 
-->

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../js/vue.js"></script>
    <!-- <script>import Velocity from 'velocity-animate'</script> -->
    <style>
        .v-enter, .v-leave-to{
            opacity: 0;
        }
        .v-enter-active, .v-leave-active{
            transition: opacity 1s; 
        }
    </style>
</head>

<body>
    <div id="app">
        <!-- mode 展示 动画的状态  in-out 先进入 再退出  out-in 先隐藏 在显示  -->
        <transition mode="out-in">
            <component :is="type"> </component>
            <!-- <child v-if="show"></child>
            <child-one v-else></child-one> -->
            <!-- <div v-if="show" key="hello">hello</div>
            <div v-else key="bye">bye world</div> -->
        </transition>
        <button @click="handleClick">toggle</button>
    </div>

    <script>
        Vue.component('child', {
            template:'<div>child</div>'
        })
        Vue.component('child-one', {
            template:'<div>child-one</div>'
        })
        
        const app = new Vue({
            el: '#app',
            data: {
                message: 'hello',
                show: true,
                type:'child'
            },
            methods: {
                handleClick() {
                    this.type = this.type ==='child'?'child-one':'child';
                }
            }
        });
    </script>
</body>

</html>